includes:
    - ../../vendor/phpstan/phpstan-strict-rules/rules.neon
#    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
    parallel:
        jobSize: 10
    strictRules:
        strictCalls: false                             # default is true, calling statics with -> should be okay
    level: 9
    paths: 
        - ../../Andromeda
    bootstrapFiles:
        - ../../Andromeda/init.php
    excludePaths:
        analyse:
            - ../../Andromeda/Apps/Files/Items
            - ../../Andromeda/Apps/Files/Limits
            - ../../Andromeda/Apps/Files/Social
            - ../../Andromeda/Apps/Files/_tests/phpunit.old
            - ../../Andromeda/Apps/Files/ActionLog.php
            - ../../Andromeda/Apps/Files/FilesApp.php
            - ../../Andromeda/Apps/Files/ItemAccess.php
    checkBenevolentUnionTypes: true
    checkImplicitMixed: true
### checkUninitializedProperties: true                 # default is false, does't work with how we do objects
    reportStaticMethodSignatures: false                # strict-rules sets true, objdb has difficult issues with this
### reportUnmatchedIgnoredErrors: false                # default is true, makes analyzing PHP7+8 impossible
    rememberPossiblyImpureFunctionValues: false        # default is true, seems like bad behavior?
services:
    - class: \Lipe\Lib\Phpstan\Services\TypeNodeResolver\Union
      tags:
          - phpstan.phpDoc.typeNodeResolverExtension
