includes:
    - ../../vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    strictRules:
        booleansInConditions: false                    # should be able to do !string, etc.
        numericOperandsInArithmeticOperators: false    # array + array is okay
        strictCalls: false                             # calling statics with -> should be okay
    level: 9
    paths: 
        - ../../Andromeda
    bootstrapFiles:
        - ../../Andromeda/init.php
    excludePaths:
        analyse:
            - ../../Andromeda/Apps/Files
            - ../../Andromeda/Apps/Accounts
    reportUnmatchedIgnoredErrors: false                # otherwise analyzing PHP7+8 is impossible
#   checkUninitializedProperties: true                 # TODO try this
    rememberPossiblyImpureFunctionValues: false        # default is true, seems like bad behavior?
### checkImplicitMixed: true                           # enabled by strict-rules, returns a lot wrong
