includes:
    - ../../vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    strictRules:
        strictCalls: false                             # default is true, calling statics with -> should be okay
    level: 9
    paths: 
        - ../../Andromeda
    bootstrapFiles:
        - ../../Andromeda/init.php
    excludePaths:
        analyse:
            - ../../Andromeda/Apps/Files
            - ../../Andromeda/Apps/Accounts
    reportUnmatchedIgnoredErrors: false                # default is true, makes analyzing PHP7+8 impossible
    rememberPossiblyImpureFunctionValues: false        # default is true, seems like bad behavior?
### checkUninitializedProperties: true                 # default is false, does't work with how we do objects
### checkImplicitMixed: true                           # default is false, seems good but returns a lot wrong
