.project
.buildpath
.settings
.phpdoc

vendor/

data/
docs/
wiki/
metrics/

combined.php

core/database/Config.php
tests/integration/config.json
tests/integration/__pycache__

tools/mysql2sqlite
tools/phpDocumentor.phar
tools/doctum.phar
