.project
.buildpath
.settings
.phpdoc
.vs
.vscode

vendor/

data/
docs/
metrics/

combined.php
test.s3db

Andromeda/DBConfig.php
Andromeda/userInit.php

__pycache__

tools/mysql2sqlite

pytest-config.json
.phpunit.result.cache

