.project
.buildpath
.settings
.phpdoc

vendor/

data/
docs/
wiki/
metrics/

combined.php
/Config.php
tests/integration/config.json

__pycache__

tools/mysql2sqlite
tools/phpDocumentor.phar
tools/doctum.phar
tools/phpunit-9.phar
tools/.phpunit*
