parameters:
	ignoreErrors:
		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Account\\:\\:GetAuthSource\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Auth\\\\ISource but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Account.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Account\\:\\:GetClients\\(\\) should return array\\<string, Andromeda\\\\Apps\\\\Accounts\\\\Client\\> but returns array\\<string, Andromeda\\\\Core\\\\Database\\\\BaseObject\\>\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Account.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Account\\:\\:GetContacts\\(\\) should return array\\<string, Andromeda\\\\Apps\\\\Accounts\\\\Contact\\> but returns array\\<string, Andromeda\\\\Core\\\\Database\\\\BaseObject\\>\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Account.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Account\\:\\:GetGroupJoin\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\GroupJoin\\|null but returns Andromeda\\\\Core\\\\Database\\\\StandardObject\\|null\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Account.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Account\\:\\:GetMyGroups\\(\\) should return array\\<string, Andromeda\\\\Apps\\\\Accounts\\\\Group\\> but returns array\\<string, Andromeda\\\\Core\\\\Database\\\\BaseObject\\>\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Account.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Account\\:\\:GetRecoveryKeys\\(\\) should return array\\<string, Andromeda\\\\Apps\\\\Accounts\\\\RecoveryKey\\> but returns array\\<string, Andromeda\\\\Core\\\\Database\\\\BaseObject\\>\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Account.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Account\\:\\:GetSessions\\(\\) should return array\\<string, Andromeda\\\\Apps\\\\Accounts\\\\Session\\> but returns array\\<string, Andromeda\\\\Core\\\\Database\\\\BaseObject\\>\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Account.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Account\\:\\:GetTwoFactors\\(\\) should return array\\<string, Andromeda\\\\Apps\\\\Accounts\\\\TwoFactor\\> but returns array\\<string, Andromeda\\\\Core\\\\Database\\\\BaseObject\\>\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Account.php

		-
			message: "#^Parameter \\#2 \\$callback of function array_filter expects callable\\(Andromeda\\\\Core\\\\Database\\\\BaseObject\\)\\: mixed, Closure\\(Andromeda\\\\Apps\\\\Accounts\\\\Contact\\)\\: bool given\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Account.php

		-
			message: "#^Parameter \\#3 \\$group of static method Andromeda\\\\Apps\\\\Accounts\\\\Account\\:\\:RunGroupChangeHandlers\\(\\) expects Andromeda\\\\Apps\\\\Accounts\\\\Group, Andromeda\\\\Core\\\\Database\\\\BaseObject given\\.$#"
			count: 2
			path: ../Andromeda/Apps/Accounts/Account.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\AccountsApp\\:\\:GetConfig\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Config but returns Andromeda\\\\Core\\\\BaseConfig\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/AccountsApp.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Auth\\\\External\\:\\:GetManager\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Auth\\\\Manager but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Auth/External.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Auth\\\\Manager\\:\\:GetAuthSource\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Auth\\\\External but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Auth/Manager.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Auth\\\\Manager\\:\\:GetDefaultGroup\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Group\\|null but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\|null\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Auth/Manager.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\AuthAccessLog\\:\\:TryGetAccount\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Account\\|null but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\|null\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/AuthAccessLog.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\AuthAccessLog\\:\\:TryGetClient\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Client\\|null but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\|null\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/AuthAccessLog.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\AuthAccessLog\\:\\:TryGetSudouser\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Account\\|null but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\|null\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/AuthAccessLog.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\AuthObject\\:\\:BaseCreate\\(\\) should return \\$this\\(Andromeda\\\\Apps\\\\Accounts\\\\AuthObject\\) but returns static\\(Andromeda\\\\Apps\\\\Accounts\\\\AuthObject\\)\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/AuthObject.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Client\\:\\:GetAccount\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Account but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Client.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Client\\:\\:GetSession\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Session\\|null but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\|null\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Client.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Config\\:\\:GetDefaultAuth\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Auth\\\\Manager\\|null but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\|null\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Config.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Config\\:\\:GetDefaultGroup\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Group\\|null but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\|null\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Config.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Contact\\:\\:GetAccount\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Account but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Contact.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Group\\:\\:GetAccountJoin\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\GroupJoin\\|null but returns Andromeda\\\\Core\\\\Database\\\\StandardObject\\|null\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Group.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Group\\:\\:GetMyAccounts\\(\\) should return array\\<string, Andromeda\\\\Apps\\\\Accounts\\\\Account\\> but returns array\\<string, Andromeda\\\\Core\\\\Database\\\\BaseObject\\>\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Group.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\GroupJoin\\:\\:GetAccount\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Account but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/GroupStuff.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\GroupJoin\\:\\:GetGroup\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Group but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/GroupStuff.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\KeySource\\:\\:GetAccount\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Account but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/KeySource.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\RecoveryKey\\:\\:Create\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\RecoveryKey but returns Andromeda\\\\Apps\\\\Accounts\\\\KeySource\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/RecoveryKey.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Session\\:\\:Create\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Session but returns Andromeda\\\\Apps\\\\Accounts\\\\KeySource\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Session.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\Session\\:\\:GetClient\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Client but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/Session.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\TwoFactor\\:\\:GetAccount\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Account but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/TwoFactor.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\TwoFactor\\:\\:GetUsedTokens\\(\\) should return array\\<string, Andromeda\\\\Apps\\\\Accounts\\\\UsedToken\\> but returns array\\<string, Andromeda\\\\Core\\\\Database\\\\BaseObject\\>\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/TwoFactor.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Accounts\\\\UsedToken\\:\\:GetTwoFactor\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\TwoFactor but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Accounts/TwoFactor.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Core\\\\CoreApp\\:\\:GetConfig\\(\\) should return Andromeda\\\\Core\\\\Config but returns Andromeda\\\\Core\\\\BaseConfig\\.$#"
			count: 1
			path: ../Andromeda/Apps/Core/CoreApp.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\File\\:\\:GetParent\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Folder but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/File.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\FilesApp\\:\\:GetConfig\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Config but returns Andromeda\\\\Core\\\\BaseConfig\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/FilesApp.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Filesystem\\\\FSManager\\:\\:GetOwner\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Account\\|null but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\|null\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Filesystem/FSManager.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\File\\:\\:CopyToParent\\(\\) invoked with 1 parameter, 2\\-3 required\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Filesystem/Native.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Item\\:\\:CopyToParent\\(\\) invoked with 1 parameter, 2\\-3 required\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Filesystem/Native.php

		-
			message: "#^Parameter \\#1 \\$owner of method Andromeda\\\\Apps\\\\Files\\\\File\\:\\:CopyToParent\\(\\) expects Andromeda\\\\Apps\\\\Accounts\\\\Account\\|null, Andromeda\\\\Apps\\\\Files\\\\Folder given\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Filesystem/Native.php

		-
			message: "#^Parameter \\#1 \\$owner of method Andromeda\\\\Apps\\\\Files\\\\Item\\:\\:CopyToParent\\(\\) expects Andromeda\\\\Apps\\\\Accounts\\\\Account\\|null, Andromeda\\\\Apps\\\\Files\\\\Folder given\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Filesystem/Native.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Folder\\:\\:GetFiles\\(\\) should return array\\<string, Andromeda\\\\Apps\\\\Files\\\\File\\> but returns array\\<string, Andromeda\\\\Core\\\\Database\\\\BaseObject\\>\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Folder.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Folder\\:\\:GetFolders\\(\\) should return array\\<string, Andromeda\\\\Apps\\\\Files\\\\Folder\\> but returns array\\<string, Andromeda\\\\Core\\\\Database\\\\BaseObject\\>\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Folder.php

		-
			message: "#^Parameter \\#1 \\$item of method Andromeda\\\\Apps\\\\Files\\\\Folder\\:\\:AddItemCounts\\(\\) expects Andromeda\\\\Apps\\\\Files\\\\Item, Andromeda\\\\Core\\\\Database\\\\BaseObject given\\.$#"
			count: 2
			path: ../Andromeda/Apps/Files/Folder.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Item\\:\\:GetComments\\(\\) should return array\\<string, Andromeda\\\\Apps\\\\Files\\\\Comment\\> but returns array\\<string, Andromeda\\\\Core\\\\Database\\\\BaseObject\\>\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Item.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Item\\:\\:GetFilesystem\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Filesystem\\\\FSManager but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Item.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Item\\:\\:GetLikes\\(\\) should return array\\<string, Andromeda\\\\Apps\\\\Files\\\\Like\\> but returns array\\<string, Andromeda\\\\Core\\\\Database\\\\BaseObject\\>\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Item.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Item\\:\\:GetOwner\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Account\\|null but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\|null\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Item.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Item\\:\\:GetShares\\(\\) should return array\\<string, Andromeda\\\\Apps\\\\Files\\\\Share\\> but returns array\\<string, Andromeda\\\\Core\\\\Database\\\\BaseObject\\>\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Item.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Item\\:\\:GetTags\\(\\) should return array\\<string, Andromeda\\\\Apps\\\\Files\\\\Tag\\> but returns array\\<string, Andromeda\\\\Core\\\\Database\\\\BaseObject\\>\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Item.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Limits\\\\AccountTimed\\:\\:GetAccount\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Account but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Limits/Account.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Limits\\\\AccountTotal\\:\\:ConfigLimits\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Limits\\\\AccountTotal but returns Andromeda\\\\Apps\\\\Files\\\\Limits\\\\AuthEntityTotal\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Limits/Account.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Limits\\\\AccountTotal\\:\\:GetAccount\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Account but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Limits/Account.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Limits\\\\AuthEntityTotal\\:\\:BaseConfigLimits\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Limits\\\\AuthEntityTotal but returns Andromeda\\\\Apps\\\\Files\\\\Limits\\\\Total\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Limits/AuthObj.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Limits\\\\Base\\:\\:GetLimitedObject\\(\\) should return Andromeda\\\\Core\\\\Database\\\\StandardObject but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Limits/Base.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Limits\\\\FilesystemTimed\\:\\:GetFilesystem\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Filesystem\\\\FSManager but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Limits/Filesystem.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Limits\\\\FilesystemTotal\\:\\:ConfigLimits\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Limits\\\\FilesystemTotal but returns Andromeda\\\\Apps\\\\Files\\\\Limits\\\\Total\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Limits/Filesystem.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Limits\\\\FilesystemTotal\\:\\:GetFilesystem\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Filesystem\\\\FSManager but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Limits/Filesystem.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Limits\\\\GroupTimed\\:\\:GetGroup\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Group but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Limits/Group.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Limits\\\\GroupTotal\\:\\:ConfigLimits\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Limits\\\\GroupTotal but returns Andromeda\\\\Apps\\\\Files\\\\Limits\\\\AuthEntityTotal\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Limits/Group.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Limits\\\\GroupTotal\\:\\:GetGroup\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Group but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Limits/Group.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Limits\\\\TimedStats\\:\\:GetLimiter\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Limits\\\\Timed but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Limits/TimedStats.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Share\\:\\:GetDest\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\AuthEntity\\|null but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\|null\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Share.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Share\\:\\:GetItem\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Item but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Share.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Share\\:\\:GetOwner\\(\\) should return Andromeda\\\\Apps\\\\Accounts\\\\Account but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Share.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Storage\\\\FTP\\:\\:Edit\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Storage\\\\FTP but returns Andromeda\\\\Apps\\\\Files\\\\Storage\\\\Storage\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Storage/FTP.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Storage\\\\FTPBase1\\:\\:Create\\(\\) should return static\\(Andromeda\\\\Apps\\\\Files\\\\Storage\\\\FTPBase1\\) but returns Andromeda\\\\Apps\\\\Files\\\\Storage\\\\Storage\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Storage/FTP.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Storage\\\\FTPBase2\\:\\:Create\\(\\) should return static\\(Andromeda\\\\Apps\\\\Files\\\\Storage\\\\FTPBase2\\) but returns Andromeda\\\\Apps\\\\Files\\\\Storage\\\\FTPBase2\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Storage/FTP.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Storage\\\\Local\\:\\:SubImportFile\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Storage\\\\Local but returns Andromeda\\\\Apps\\\\Files\\\\Storage\\\\Storage\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Storage/Local.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Storage\\\\LocalBase\\:\\:Create\\(\\) should return static\\(Andromeda\\\\Apps\\\\Files\\\\Storage\\\\LocalBase\\) but returns Andromeda\\\\Apps\\\\Files\\\\Storage\\\\Storage\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Storage/Local.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Storage\\\\S3\\:\\:Edit\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Storage\\\\S3 but returns Andromeda\\\\Apps\\\\Files\\\\Storage\\\\Storage\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Storage/S3.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Storage\\\\SFTP\\:\\:Edit\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Storage\\\\SFTP but returns Andromeda\\\\Apps\\\\Files\\\\Storage\\\\Storage\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Storage/SFTP.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Storage\\\\SFTPBase1\\:\\:Create\\(\\) should return static\\(Andromeda\\\\Apps\\\\Files\\\\Storage\\\\SFTPBase1\\) but returns Andromeda\\\\Apps\\\\Files\\\\Storage\\\\Storage\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Storage/SFTP.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Storage\\\\SFTPBase2\\:\\:Create\\(\\) should return static\\(Andromeda\\\\Apps\\\\Files\\\\Storage\\\\SFTPBase2\\) but returns Andromeda\\\\Apps\\\\Files\\\\Storage\\\\SFTPBase2\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Storage/SFTP.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Storage\\\\SMB\\:\\:Edit\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Storage\\\\SMB but returns Andromeda\\\\Apps\\\\Files\\\\Storage\\\\Storage\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Storage/SMB.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Storage\\\\SMBBase1\\:\\:Create\\(\\) should return static\\(Andromeda\\\\Apps\\\\Files\\\\Storage\\\\SMBBase1\\) but returns Andromeda\\\\Apps\\\\Files\\\\Storage\\\\Storage\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Storage/SMB.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Storage\\\\SMBBase2\\:\\:Create\\(\\) should return static\\(Andromeda\\\\Apps\\\\Files\\\\Storage\\\\SMBBase2\\) but returns Andromeda\\\\Apps\\\\Files\\\\Storage\\\\SMBBase2\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Storage/SMB.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Storage\\\\Storage\\:\\:GetFilesystem\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Filesystem\\\\FSManager but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Storage/Storage.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\SubFolder\\:\\:GetParent\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Folder but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/SubFolder.php

		-
			message: "#^Method Andromeda\\\\Apps\\\\Files\\\\Tag\\:\\:GetItem\\(\\) should return Andromeda\\\\Apps\\\\Files\\\\Item but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Apps/Files/Tag.php

		-
			message: "#^Method Andromeda\\\\Core\\\\Database\\\\ObjectDatabase\\:\\:Rows2Objects\\(\\) should return array\\<string, T of Andromeda\\\\Core\\\\Database\\\\BaseObject\\> but returns array\\<string, T of Andromeda\\\\Core\\\\Database\\\\BaseObject\\|T of Andromeda\\\\Core\\\\Database\\\\BaseObject\\>\\.$#"
			count: 1
			path: ../Andromeda/Core/Database/ObjectDatabase.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 3
			path: ../Andromeda/Core/IOFormat/Interfaces/CLI.php

		-
			message: "#^Method Andromeda\\\\Core\\\\Logging\\\\ActionLog\\:\\:GetRequestLog\\(\\) should return Andromeda\\\\Core\\\\Logging\\\\RequestLog but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\.$#"
			count: 1
			path: ../Andromeda/Core/Logging/ActionLog.php

		-
			message: "#^Method Andromeda\\\\Core\\\\Logging\\\\ActionLog\\:\\:TryGetApplog\\(\\) should return Andromeda\\\\Core\\\\Logging\\\\BaseAppLog\\|null but returns Andromeda\\\\Core\\\\Database\\\\BaseObject\\|null\\.$#"
			count: 1
			path: ../Andromeda/Core/Logging/ActionLog.php

		-
			message: "#^Parameter \\#1 \\$callback of function array_map expects \\(callable\\(Andromeda\\\\Core\\\\Database\\\\BaseObject\\)\\: mixed\\)\\|null, Closure\\(Andromeda\\\\Core\\\\Logging\\\\ActionLog\\)\\: array given\\.$#"
			count: 1
			path: ../Andromeda/Core/Logging/RequestLog.php

		-
			message: "#^Method Andromeda\\\\Core\\\\Logging\\\\RequestMetrics\\:\\:GetActions\\(\\) should return array\\<string, Andromeda\\\\Core\\\\Logging\\\\ActionMetrics\\> but returns array\\<string, Andromeda\\\\Core\\\\Database\\\\BaseObject\\>\\.$#"
			count: 1
			path: ../Andromeda/Core/Logging/RequestMetrics.php

		-
			message: "#^Parameter \\#1 \\$callback of function array_map expects \\(callable\\(Andromeda\\\\Core\\\\Database\\\\BaseObject\\)\\: mixed\\)\\|null, Closure\\(Andromeda\\\\Core\\\\Logging\\\\CommitMetrics\\)\\: array given\\.$#"
			count: 1
			path: ../Andromeda/Core/Logging/RequestMetrics.php

